version: 1
control-service:
  hostname: "<IP address of Flocker control service>"
dataset:
  backend: "flocker_emc_vnx_driver"
  spa_ip: "<IP address of SPA port>"
  storage_pool: "<Name of VNX storage pool>"
  naviseccli_keys: "</path/to/naviseccli/cached/keys>"
  hostname: "<Hostname of this node on the VNX storage switch>"
  storage_group: "<Name of VNX storage group in which this node is registered>"
