version: 1
control-service:
  hostname: "control-service"
dataset:
  backend: "vnx_flocker_driver"
  spa_ip: "192.168.40.13"
  storage_pool: "Docker_Block_Pool"
  naviseccli_keys: "/keys"
  hostname: "esx01.ashqe"
  storage_group: "Docker104"
